<%- include('navbar/head.ejs') %>

<main>
  <article>
    <!--
          - #ABOUT US
        -->
    <section class="about-us">
      <h1 class="abt-us-text">About US</h1>
      <h1 class="nmbr-header">1. What is AnimeTown.Fun, exactly?</h1>
      <p class="Message">
        AnimeTown.Fun is a website where you can watch anime for free and even
        download dubbed or subbed episodes in ultra HD without having to sign up
        or pay anything. We are attempting to make it the safest site for free
        anime by having No Ads of Any Kind.
      </p>
      <h1 class="nmbr-header">2. Can I trust AnimeTown.Fun?</h1>
      <p class="Message">
        Yes, we constantly check the ads to make sure they are all clean. We
        only have one ad to cover the cost of the server. Please send us any
        information you have about any suspicious ads so we can remove them.
      </p>
      <h1 class="nmbr-header">
        What makes AnimeTown.Fun the top website to watch anime online for free
        then?
      </h1>
      <p class="Message">
        Prior to constructing AnimeTown. Fun, we've looked at a lot of other
        free anime websites and picked up tips from them. To include it in our
        AnimeTown.Fun, we only maintain the positive aspects of all rivals and
        eliminate all the negative ones. Amusing webpage. How can we be so sure
        that we are the finest anime streaming website? Safety: We try our best
        to not having harmful on AnimeTown.Fun
      </p>
      <h1 class="nmbr-header">4. Quality/Resolution</h1>
      <p class="Message">
        All titles are of the highest quality and have outstanding resolution.
        No matter how fast your Internet speed is, AnimeTown.Fun's users can
        still enjoy streaming thanks to our quality adjustment feature. If your
        internet connection is terrible, you can watch the anime in 360p. If
        it's decent, you can watch it in 720p or even 1080p.
      </p>
      <h1 class="nmbr-header">5. Streaming Experience</h1>
      <p class="Message">
        The loading time at AnimeTown.Fun is quicker than that of other anime
        streaming websites. You won't have any trouble storing the videos for
        subsequent offline viewing because downloading is just as simple as
        streaming.
      </p>
      <h1 class="nmbr-header">6. Compatibility with Devices</h1>
      <p class="Message">
        AnimeTown.Fun runs smoothly on desktop and mobile devices. However, for
        a smoother streaming experience, we advise using your desktop.
      </p>
      <h1 class="nmbr-header">7. Updates</h1>
      <p class="Message">
        You will never run out of things to watch on AnimeTown.Fun because we
        update new titles and fulfill requests on a daily basis. So let's give
        AnimeTown.Fun a try if you're seeking for a reliable and secure site for
        your anime viewing. Please help us spread the word if you enjoy us, and
        don't forget to bookmark our website. Thank You!
      </p>
    </section>
  </article>
</main>
